
  .icons {
    margin-left: 0.8em;
    margin-right: 0.8em;
    font-size: 1.2em;
    color: #f5f5f1 !important;
  }
  
  #kids {
    color: #f5f5f1;
  }

  body {
    background-color: #221F1F;
  }

  /* ho provato a cambiare le misure manualmente ma non va */
  .movie-card { 
    width: 100px;
    height: 100px;
  }

  .col img {
    transition: transform 0.2s;
  }

  .col img:hover {
    transform: scale(1.1);
  }

  footer {
    color: white !important;
  }

  footer a {
    color: white;
    text-decoration: none;
  }